@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap");

/* Theme */
:root {
  --color-primary: #9d65ff;
  --color-secondary: #dda2f6;
  --color-highlight: #58ebd7;
  --color-danger: #ff206e;
  --color-light: #fff;
  /* dark shades */
  --color-shade: #556;
  --color-darkish: #223;
  --color-dark: #112;
  --color-darkest: #001;
}

.gradient {
  background: -webkit-liear-gradient(
    bottom,
    var(--color-priamry),
    var(--color-highlight)
  );
}

.gradient.text {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient.alternate {
  background: -webkit-linear-gradient(
    bottom,
    var(--color-danger),
    var(--color-secondary)
  );
}

/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  font-size: 2rem;
  background-color: var(--color-dark);
  color: var(--color-light);
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  height: 100svh;
  width: 100%;
}
